openapi: 3.1.0
info:
  title: Carma
  version: 1.0.0
  contact: {}
servers:
  - url: https://apicarma.bytequest.solutions/api/v1
tags:
  - name: Authentication
    description: Authentication Management
  - name: Users
    description: User Management
  - name: Newsletter
    description: Subscription for Newsletter
  - name: Contacts
    description: Contacts Management
  - name: Tips
    description: Tips Management
  - name: Resources
    description: Resources Management
  - name: Categories
    description: Categories Management
  - name: Messages
    description: Messages Management
  - name: Faker
    description: Faker & Seeder
  - name: Patients
    description: Patients Management
  - name: Practitioner
    description: Practitioner Management
  - name: Doctors
    description: Doctors Management
  - name: Onboard
    description: Onboard Users Management
paths:
  /auth/login:
    post:
      tags:
        - Authentication
      operationId: Login
      requestBody:
        content:
          application/json:
            schema:
              required:
                - email
                - password
              type: object
              properties:
                email:
                  type: string
                  example: John.Doe@gmail.com
                password:
                  type: string
                  example: $123abc456E
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You're logged in!
                  data:
                    $ref: "#/components/schemas/Login"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Provided credentials are incorrect
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginUnprocessableEntityError"
  /auth/signup:
    post:
      tags:
        - Authentication
      operationId: Signup
      requestBody:
        content:
          application/json:
            schema:
              required:
                - firstName
                - lastName
                - email
                - role
              type: object
              properties:
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
                email:
                  type: string
                  example: John.Doe@gmail.com
                role:
                  type: string
                  enum:
                    - Doctor
                    - PractitionerFull
                    - PractitionerLimited
                    - Patient
                clinicName:
                  type: string
                  example: ZibaRoyan
                birthday:
                  type: string
                  example: 2023-10-11T00:00:00Z
                phoneNumber:
                  type: string
                  example: +17804246272
                questionnaireId:
                  type: string
                  example: 072dbcb1-37de-45f8-9cea-04bd6bab2feb
                phn:
                  type: string
                  example: 13365116
                faxNumber:
                  type: string
                  example: 1780424627
              allOf:
                - if:
                    properties:
                      role:
                        const: Patient
                  then:
                    required: [phn, birthday]
      responses:
        "201":
          description: Created Successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User Registered
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignUpUnprocessableEntityError"
      security:
        - bearerAuth: []
  /auth/google:
    get:
      tags:
        - Authentication
      operationId: Google Redirect URL
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      url:
                        type: string
                        example: https://accounts.google.com/o/oauth2/auth?client_id=264215023812-9mrclslq3hhug6ksiscovfnpdl2oo5ga.apps.googleusercontent.com&prompt=consent&redirect_uri=https%3A%2F%2Fcarma-dev.bytequest.solutions%2Fauth%2Fsso%2Fgoogle&response_type=code&scope=openid+profile+email&state=are5s3dftyu3jjkhb9nvwqfrgh3gd5E3sd5f
    post:
      tags:
        - Authentication
      operationId: Google Login
      requestBody:
        content:
          application/json:
            schema:
              required:
                - code
              type: object
              properties:
                code:
                  type: string
                  example: 4/0AeaYSHCoSLQlzCvmwNfx_purqgyrLWJ2l2JvhmpRW9-amog1Suymw6HL64lKDfOYadviPg
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Login"
                  message:
                    type: string
                    example: You're logged in!
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Bad request error occurred
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The provided credentials are incorrect.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLoginUnprocessableEntityError"
  /auth/forget-password:
    post:
      tags:
        - Authentication
      operationId: Forget Password
      description: Send a Password Reset Link to Provided Email
      requestBody:
        content:
          application/json:
            schema:
              required:
                - email
              type: object
              properties:
                email:
                  type: string
                  example: John.Doe@gmail.com
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The password reset link sent to your email
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Provided credentials are incorrect
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForgetPasswordUnprocessableEntityError"
  /auth/reset-password:
    post:
      tags:
        - Authentication
      operationId: Reset Password
      description: Changes the Password of the User Who Requested to Reset the Password
      requestBody:
        content:
          application/json:
            schema:
              required:
                - token
                - password
              type: object
              properties:
                token:
                  type: string
                  example: oFBwDNRFNENVU5mjAX1pd
                password:
                  type: string
                  example: $123abc456E
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The password changed successfully
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Provided credentials are incorrect
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetPasswordUnprocessableEntityError"

  /users:
    get:
      tags:
        - Users
      operationId: Fetch all Users' List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 3
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UsersData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
      security:
        - bearerAuth: []
  /users/{userId}/resend-invitation:
    post:
      tags:
        - Users
      operationId: Resend Invitation
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the user
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The invitation sent successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
  /users/{userId}/resend-email-verification:
    post:
      tags:
        - Users
      operationId: Resend Email Verification
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the user
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The email verification sent successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
  /users/me/update:
    patch:
      tags:
        - Users
      operationId: Update Profile
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
                phoneNumber:
                  type: string
                  example: +17804246272
                clinicName:
                  type: string
                  example: Doctor Jane Doe Clinic
                faxNumber:
                  type: string
                  example: 1780424627
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateProfileUnprocessableEntityError"
      security:
        - bearerAuth: []
  /users/me/update/config:
    put:
      tags:
        - Users
      operationId: Update User Config
      requestBody:
        content:
          application/json:
            schema:
              required:
                - perPageNumber
              type: object
              properties:
                perPageNumber:
                  type: integer
                  example: 12
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Validation error occurred
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        perPageNumber:
                          type: integer
                          example: The perPageNumber must be greater than the 1 value or less than the 100.
      security:
        - bearerAuth: []

  /users/{userId}/verify-email:
    post:
      tags:
        - Users
      operationId: Verify Email Verification
      parameters:
        - name: userId
          in: path
          required: true
          description: The ID of the user
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              required:
                - verificationToken
              type: object
              properties:
                verificationToken:
                  type: string
                  example: "3093"
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The email verified successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyUserEmailUnprocessableEntityError"
      security:
        - bearerAuth: []
  /users/me:
    get:
      tags:
        - Users
      operationId: Fetch User Profile
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The data fetched successfully.
                  data:
                    $ref: "#/components/schemas/UserProfileData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /users/upload-avatar:
    post:
      tags:
        - Users
      operationId: Upload User's Avatar
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - avatar
              properties:
                avatar:
                  type: string
                  format: binary
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Your avatar has been updated successfully.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                      - The uploaded file type or size is incorrect. Please try again.
                      - The uploaded file is missing or invalid. Please check and try again.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []

  /newsletters:
    post:
      tags:
        - Newsletter
      operationId: Newsletter Subscription
      requestBody:
        content:
          application/json:
            schema:
              required:
                - email
              type: object
              properties:
                email:
                  type: string
                  example: John.Doe@gmail.com
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You successfully subscribed to the newsletter.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewsletterSubscribeUnprocessableEntityError"
    get:
      tags:
        - Newsletter
      operationId: Fetch Newsletter Email List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NewslettersData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
      security:
        - bearerAuth: []

  /contacts:
    get:
      tags:
        - Contacts
      operationId: Fetch Contacts List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ContactsData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
      security:
        - bearerAuth: []
    post:
      tags:
        - Contacts
      operationId: Create Contact
      requestBody:
        content:
          application/json:
            schema:
              required:
                - email
                - firstName
                - lastName
                - message
              type: object
              properties:
                email:
                  type: string
                  example: John.Doe@gmail.com
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
                message:
                  type: string
                  example: This is Message
                phoneNumber:
                  type: string
                  example: +16043655675
            examples:
              Create:
                value:
                  email: jafar@dk.com
                  firstName: kazem
                  lastName: davood
                  message: this is message
                  phoneNumber: "+16043655675"
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You contact form submitted successfully.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateContactUnprocessableEntityError"

  /tips:
    get:
      tags:
        - Tips
      operationId: Fetch Tips List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
        - name: categoryId
          in: query
          schema:
            type: string
            example: uuid
        - name: keyword
          in: query
          schema:
            type: string
            example: anything
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TipsData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    post:
      tags:
        - Tips
      operationId: Create Tip
      requestBody:
        content:
          application/json:
            schema:
              required:
                - categoryId
                - description
                - url
              type: object
              properties:
                categoryId:
                  type: string
                  example: afe48fba-6da3-44fb-8281-922330ce08cb
                description:
                  type: string
                  example: A Description for Tip
                url:
                  type: string
                  example: https://example.com
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The tip created successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTipUnprocessableEntityError"
      security:
        - bearerAuth: []
  /tips/{tipId}:
    delete:
      tags:
        - Tips
      operationId: Delete Tip
      parameters:
        - name: tipId
          in: path
          required: true
          description: The ID of the tip
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The tip deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    patch:
      tags:
        - Tips
      operationId: Update Tip
      parameters:
        - name: tipId
          in: path
          required: true
          description: The ID of the tip
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  example: afe48fba-6da3-44fb-8281-912330ce08ca
                description:
                  type: string
                  example: A Description for Tip
                url:
                  type: string
                  example: https://example.com
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The tip updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateTipUnprocessableEntityError"
      security:
        - bearerAuth: []

  /resources:
    get:
      tags:
        - Resources
      operationId: Fetch Resources List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
        - name: categoryId
          in: query
          schema:
            type: string
            example: uuid
        - name: keyword
          in: query
          schema:
            type: string
            example: anything
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ResourcesData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    post:
      tags:
        - Resources
      operationId: Create Resources
      requestBody:
        content:
          application/json:
            schema:
              required:
                - categoryId
                - title
                - url
              type: object
              properties:
                categoryId:
                  type: string
                  example: afe48fba-6da3-44fb-8281-922330ce08cc
                title:
                  type: string
                  example: Title of the Resource
                url:
                  type: string
                  example: https://example.com
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The resource created successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateResourceUnprocessableEntityError"
      security:
        - bearerAuth: []
  /resources/{resourceId}:
    patch:
      tags:
        - Resources
      operationId: Update Resource
      parameters:
        - name: resourceId
          in: path
          required: true
          description: The ID of the resource
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  example: afe48fba-6da3-44fb-8281-922330ce08ca
                title:
                  type: string
                  example: Title of the Resource
                url:
                  type: string
                  example: https://example.com
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The resource updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateResourceUnprocessableEntityError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - Resources
      operationId: Delete Resource
      parameters:
        - name: resourceId
          in: path
          required: true
          description: The ID of the resource
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The resource deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []

  /categories:
    get:
      tags:
        - Categories
      operationId: Fetch Categories List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CategoriesData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    post:
      tags:
        - Categories
      operationId: Create Category
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                description:
                  type: string
                  example: this is description cat 3
                name:
                  type: string
                  example: cat 1
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The category created successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCategoryUnprocessableEntityError"
      security:
        - bearerAuth: []
  /categories/{categoryId}:
    get:
      tags:
        - Categories
      operationId: Fetch Category
      parameters:
        - name: categoryId
          in: path
          required: true
          description: The ID of the category
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: fc65aa8f-9bf8-4b7f-b918-469f03203b31
                      name:
                        type: string
                        example: Medical History
                      description:
                        type: string
                        nullable: true
                        example: Description
                      score:
                        type: integer
                        example: 12
                      createdAt:
                        type: string
                        format: date-time
                        example: 2022-01-01T00:00:00.000Z
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    patch:
      tags:
        - Categories
      operationId: Update Category
      parameters:
        - name: categoryId
          in: path
          required: true
          description: The ID of the category
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  example: i am description
                score:
                  type: integer
                  example: 5
                name:
                  type: string
                  example: xxxx55
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The Category updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCategoryUnprocessableEntityError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - Categories
      operationId: Delete Category
      parameters:
        - name: categoryId
          in: path
          required: true
          description: The ID of the category
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The Category deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /categories/{categoryId}/prompts:
    put:
      tags:
        - Categories
      operationId: UpdateCategoryPrompt
      parameters:
        - name: categoryId
          in: path
          required: true
          description: The ID of the category
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The updated prompt for the category
              required:
                - prompt
      responses:
        "200":
          description: Successfully updated the prompt
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Prompt updated successfully
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.

  /messages:
    get:
      tags:
        - Messages
      operationId: Fetch User Messages List
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/MessagesData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /messages/{messageId}:
    delete:
      tags:
        - Messages
      operationId: Delete Message
      parameters:
        - name: messageId
          in: path
          required: true
          description: The ID of the message
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The message deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    get:
      tags:
        - Messages
      operationId: Fetch Message Info
      parameters:
        - name: messageId
          in: path
          required: true
          description: The ID of the message
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The message fetched successfully.
                  data:
                    $ref: "#/components/schemas/MessageInfoData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []

  /faker/seed:
    post:
      tags:
        - Faker
      operationId: Fake Seeder
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The fake entities made.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /faker/flush:
    post:
      tags:
        - Faker
      operationId: Reset Faker
      responses:
        "200":
          description: Successful Operation
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []

  /patients:
    get:
      tags:
        - Patients
      operationId: Fetch Patients List
      parameters:
        - name: questionnaireStatus
          in: query
          schema:
            type: string
            example: NotStarted
          description: NotStarted,InProgress,Completed
        - name: questionnaireId
          in: query
          schema:
            type: string
            example: b317f39a-6b15-4dac-ab28-ca6b844c3453
        - name: phn
          in: query
          schema:
            type: string
            example: 13365116
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
        - name: status
          in: query
          schema:
            type: string
            enum:
              - Invited
              - Registered
              - Decline
              - Active
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PatientsData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    post:
      tags:
        - Patients
      operationId: Create Patient
      requestBody:
        content:
          application/json:
            schema:
              required:
                - firstName
                - lastName
                - birthday
                - phn
              type: object
              properties:
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
                birthday:
                  type: string
                  example: 2023-10-11T00:00:00Z
                email:
                  type: string
                  example: John.Doe@gmail.com
                  description: If Phone Number isn't provided Email is required
                phoneNumber:
                  type: string
                  example: +17804246272
                  description: If Email isn't provided Phone Number is required
                phn:
                  type: string
                  example: 13365116
                questionnaireId:
                  type: string
                  example: 072dbcb1-37de-45f8-9cea-04bd6bab2feb
              oneOf:
                - required: [phoneNumber]
                - required: [email]
      responses:
        "201":
          description: Created Successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The patient has been registered successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePatientUnprocessableEntityError"
      security:
        - bearerAuth: []
  /patients/{patientId}:
    get:
      tags:
        - Patients
      operationId: Fetch Patient's Info
      parameters:
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
        - name: questionnaireStatus
          in: query
          schema:
            type: string
            example: NotStarted
          description: NotStarted,InProgress,Completed
        - name: questionnaireId
          in: query
          schema:
            type: string
            example: cd8c6b23-e5e8-4015-9d54-ddd1d661255e
        - name: phn
          in: query
          schema:
            type: string
            example: 13365116
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
        - name: name
          in: query
          schema:
            type: string
            example: Colby
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The data fetched successfully.
                  data:
                    $ref: "#/components/schemas/PatientInfoData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
    put:
      tags:
        - Patients
      operationId: Update Patient Info By Doctor
      parameters:
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              required:
                - firstName
                - lastName
                - phn
              type: object
              properties:
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
                phoneNumber:
                  type: string
                  example: 1076129200
                phn:
                  type: string
                  example: 1246129345
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user's information has been updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePatientByDoctorUnprocessableEntityError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - Patients
      operationId: Patient Delete
      parameters:
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /patients/{patientId}/questionnaires:
    get:
      tags:
        - Patients
      operationId: Fetch Patient Questionnaires List
      parameters:
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
        - name: page
          in: query
          schema:
            type: string
            example: 2
        - name: perPage
          in: query
          schema:
            type: string
            example: 10
        - name: questionnaireName
          in: query
          schema:
            type: string
            example: d6b613fb-11dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PatientQuestionnairesData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /patients/{patientId}/questionnaires/stats:
    get:
      tags:
        - Patients
      operationId: Fetch Patient Questionnaire Stats
      parameters:
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The message fetched successfully.
                  data:
                    $ref: "#/components/schemas/PatientQuestionnairesStatsData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
  /patients/questionnaires/assign:
    post:
      tags:
        - Patients
      operationId: Assign Questionnaire To Patient
      requestBody:
        content:
          application/json:
            schema:
              required:
                - patientId
                - questionnaireIds
              type: object
              properties:
                patientId:
                  type: string
                  example: a9b613fb-ac13-55f6-b979-ded21a4df498
                questionnaireIds:
                  type: string
                  example: d6b687ce-11dc-55f6-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The questionnaire has been assigned successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssignQuestionnaireToPatientUnprocessableEntityError"
      security:
        - bearerAuth: []

  /practitioners:
    get:
      tags:
        - Practitioner
      operationId: Fetch Doctor Practitioners
      parameters:
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DoctorPractitionersData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /practitioners/{doctorId}:
    get:
      tags:
        - Practitioner
      operationId: Fetch Doctor Practitioners List By ID
      parameters:
        - name: doctorId
          in: path
          required: true
          description: The ID of the doctor
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
        - name: page
          in: query
          schema:
            type: string
            example: 3
        - name: perPage
          in: query
          schema:
            type: string
            example: 2
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DoctorPractitionersData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
  /practitioners/{practitionerId}:
    delete:
      tags:
        - Practitioner
      operationId: Remove Practitioner
      parameters:
        - name: practitionerId
          in: path
          required: true
          description: The ID of the practitioner
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
    patch:
      tags:
        - Practitioner
      operationId: Change Role Practitioner
      parameters:
        - name: practitionerId
          in: path
          required: true
          description: The ID of the practitioner
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - practitionerType
              properties:
                practitionerType:
                  type: string
                  enum:
                    - PractitionerFull
                    - PractitionerLimited
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The user updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateResourceUnprocessableEntityError"
      security:
        - bearerAuth: []

  /questionnaires:
    get:
      tags:
        - Questionnaire
      operationId: Fetch Questionnaires List
      parameters:
        - name: title
          in: query
          schema:
            type: string
            example: This is title
        - name: page
          in: query
          schema:
            type: string
            example: 1
        - name: perPage
          in: query
          schema:
            type: string
            example: 31
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/QuestionnairesData"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
      security:
        - bearerAuth: []
    post:
      tags:
        - Questionnaire
      operationId: Create Questionnaire
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - title
                - intro
                - visibility
                - questionnaire
              properties:
                title:
                  type: string
                  example: Title of Questionnaire
                intro:
                  type: string
                  example: Intro
                prompt:
                  type: string
                  example: prompt
                visibility:
                  type: object
                  properties:
                    communityResourcesStatus:
                      type: boolean
                      example: true
                    careProviderTipsStatus:
                      type: boolean
                      example: false
                    summaryOfFindingsStatus:
                      type: boolean
                      example: true
                    assessmentAndPlanStatus:
                      type: boolean
                      example: false
                    carePlanNotesStatus:
                      type: boolean
                      example: true
                    genAiStatus:
                      type: boolean
                      example: true
                questionnaire:
                  type: string
                  format: binary
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The questionnaire created successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateQuestionnaireUnprocessableEntityError"
      security:
        - bearerAuth: []
  /questionnaires/v2:
    post:
      tags:
        - Questionnaire
      operationId: Create Questionnaire v2
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - title
                - intro
                - visibility
              properties:
                title:
                  type: string
                  example: Title of Questionnaire
                intro:
                  type: string
                  example: Intro
                prompt:
                  type: string
                  example: prompt
                visibility:
                  type: object
                  properties:
                    communityResourcesStatus:
                      type: boolean
                      example: true
                    careProviderTipsStatus:
                      type: boolean
                      example: false
                    summaryOfFindingsStatus:
                      type: boolean
                      example: true
                    assessmentAndPlanStatus:
                      type: boolean
                      example: false
                    carePlanNotesStatus:
                      type: boolean
                      example: true
                    genAiStatus:
                      type: boolean
                      example: true
      responses:
        "201":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The questionnaire created successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateQuestionnaireUnprocessableEntityError"
      security:
        - bearerAuth: []

  /questionnaires/{questionnaireId}:
    patch:
      tags:
        - Questionnaire
      operationId: Update Questionnaire
      parameters:
        - name: questionnaireId
          in: path
          required: true
          description: The ID of the questionnaire
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - visibility
              properties:
                title:
                  type: string
                  example: Title of Questionnaire
                intro:
                  type: string
                  example: Intro
                visibility:
                  type: array
                  items:
                    type: object
                    properties:
                      communityResourcesStatus:
                        type: boolean
                        example: true
                      careProviderTipsStatus:
                        type: boolean
                        example: false
                      summaryOfFindingsStatus:
                        type: boolean
                        example: true
                      assessmentAndPlanStatus:
                        type: boolean
                        example: false
                      carePlanNotesStatus:
                        type: boolean
                        example: true
                      genAiStatus:
                        type: boolean
                        example: true
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The questionnaire updated successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateQuestionnaireUnprocessableEntityError"
      security:
        - bearerAuth: []
    delete:
      tags:
        - Questionnaire
      operationId: Delete Questionnaire
      parameters:
        - name: questionnaireId
          in: path
          required: true
          description: The ID of the questionnaire
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The questionnaire deleted successfully.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You can not remove this questionnaire because it is assigned to a patient.
      security:
        - bearerAuth: []

  /progress/{progressId}/init:
    get:
      tags:
        - Progress
      operationId: Init Questionnaire By Patient
      parameters:
        - name: progressId
          in: path
          required: true
          description: The ID of the questionnaire progress
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The data fetched successfully.
                  data:
                    $ref: "#/components/schemas/InitData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
        - QRToken: []
  /progress/{progressId}/next:
    post:
      tags:
        - Progress
      operationId: Next Question By Patient
      parameters:
        - name: progressId
          in: path
          required: true
          description: The ID of the questionnaire progress
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - optionIds
                - questionId
                - textResponse
              properties:
                questionId:
                  type: string
                  example: 594828bb-68ef-4a13-97a5-5952a13065f8
                optionIds:
                  type: string
                  example: b0f9f3e4-048e-46d0-a96f-aa2616739e9b
                textResponse:
                  type: string
                  example: Response Text
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NextQuestionData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NextQuestionUnprocessableEntityError"
      security:
        - bearerAuth: []
        - QRToken: []
  /progress/qr/generate:
    post:
      tags:
        - Progress
        - QR
      operationId: Generate QR Code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - questionnaireProgressId
              properties:
                questionnaireProgressId:
                  type: string
                  example: 594828bb-68ef-4a13-97a5-5952a13065f8
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      qrToken:
                        type: string
                        example: 594828bb-68ef-4a13-97a5-5952a13065f8
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Validation error occurred
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        questionnaireProgressId:
                          type: string
                          example: The questionnaireProgressId field is required
      security:
        - bearerAuth: []
  /progress/qr/verify:
    post:
      tags:
        - Progress
        - QR
      operationId: Verify QR Code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - birthday
              properties:
                token:
                  type: string
                  example: 594828bb-68ef-4a13-97a5-5952a13065f8
                birthday:
                  type: string
                  example: 1908-06-07T09:07:19.14555+03:25
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      questionnaireProgressId:
                        type: string
                        example: 594828bb-68ef-4a13-97a5-5952a13065f8
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Validation error occurred
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        token:
                          type: string
                          example: The token field is required
                        birthday:
                          type: string
                          example: The birthday field is required
      security:
        - bearerAuth: []
        - QRToken: []
  /progress/{progressId}/previous:
    get:
      tags:
        - Progress
      operationId: Previous Question By Patient
      parameters:
        - name: progressId
          in: path
          required: true
          description: The ID of the questionnaire progress
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The data fetched successfully.
                  data:
                    $ref: "#/components/schemas/PreviousQuestionData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
        - QRToken: []
  /progress/{progressId}/init/{patientId}:
    get:
      tags:
        - Progress
      operationId: Init Questionnaire By Doctor
      parameters:
        - name: progressId
          in: path
          required: true
          description: The ID of the questionnaire progress
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-21dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The data fetched successfully.
                  data:
                    $ref: "#/components/schemas/InitData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
  /progress/{progressId}/next/{patientId}:
    post:
      tags:
        - Progress
      operationId: Next Question By Doctor
      parameters:
        - name: progressId
          in: path
          required: true
          description: The ID of the questionnaire  progress
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-21dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - optionIds
                - questionId
                - textResponse
              properties:
                questionId:
                  type: string
                  example: 594828bb-68ef-4a13-97a5-5952a13065f8
                optionIds:
                  type: string
                  example: b0f9f3e4-048e-46d0-a96f-aa2616739e9b
                textResponse:
                  type: string
                  example: Response Text
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NextQuestionData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NextQuestionUnprocessableEntityError"
      security:
        - bearerAuth: []
  /progress/{progressId}/previous/{patientId}:
    get:
      tags:
        - Progress
      operationId: Previous Question By Doctor
      parameters:
        - name: progressId
          in: path
          required: true
          description: The ID of the questionnaire progress
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
        - name: patientId
          in: path
          required: true
          description: The ID of the patient
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-21dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The data fetched successfully.
                  data:
                    $ref: "#/components/schemas/PreviousQuestionData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Access denied.
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []

  /questionnaires/{questionnaireId}/preview/init:
    get:
      tags:
        - Questionnaire
      operationId: Preview Init Questionnaire
      parameters:
        - name: questionnaireId
          in: path
          required: true
          description: The ID of the questionnaire
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InitData"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unauthorized
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested resource not found.
      security:
        - bearerAuth: []
  /questionnaires/{questionnaireId}/preview/next:
    post:
      tags:
        - Questionnaire
      operationId: Next Question Preview
      parameters:
        - name: questionnaireId
          in: path
          required: true
          description: The ID of the questionnaire
          schema:
            type: string
          examples:
            example:
              value: d6b613fb-00dc-44e7-b979-ded21a4df498
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - optionIds
                - questionId
                - textResponse
              properties:
                questionId:
                  type: string
                  example: 594828bb-68ef-4a13-97a5-5952a13065f8
                optionIds:
                  type: string
                  example: b0f9f3e4-048e-46d0-a96f-aa2616739e9b
                textResponse:
                  type: string
                  example: Response Text
      responses:
        "200":
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/NextQuestionData"
        "401":
[...]
